/* Custom styles for tripmate */
.navbar-nav{
  width: 100%
}
.nav-link{
	font-size: 1.1rem
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #ffffff;
  text-decoration: none;
  background-color: #007bff;
}

.distance-wrapper {
height: 100px;
}

#map {
width: 100%;
height: 400px;
}
.msg{
  display: none;
  margin-bottom: 0;
}

#login, #register, #logout{
  display: none;
}

.delete-item{
  cursor: pointer;
  font-weight: 700;
}